@import '~bootstrap/scss/bootstrap.scss';

$padding-sm: 5px;
$padding-md: 10px;

$font-size-base: 12px;
$font-size-lg: 14px;

$gray: #aaaaaa;

body {
	font-size: $font-size-base;
}

header {
	position: relative;
	margin-bottom: $padding-md;
	
	.desktop-banner {
		display: none;
	}
	
	.banner-text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
		color: white;
		width: 100%;
		height: 100%;
		text-align: center;
		
		p {
			font-size: $font-size-lg;
			letter-spacing: 1px;
		}
	}
	
	@include media-breakpoint-up(sm) {
		.desktop-banner {
			display: block;
		}
		
		.mobile-banner {
			display: none;
		}
	}
}

.cards {
	@include clearfix;
	padding: 0;
	list-style-type: none;
	
	@include media-breakpoint-up(md) {
		display: flex;
		align-items: stretch;
	}
}

.cards > li {
	@extend .col-md-4;
	float: left;
	padding: $padding-md;
	
	.card {
		padding: $padding-md;
		height: 100%;
	}
	
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		
		p:last-of-type {
			margin-bottom: 0;
		}
	}
	
	a {
		color: black;
		border: 2px black solid;
		border-radius: 20px;
		padding: $padding-sm $padding-md;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	}
}

img {
	max-width: 100%;
}

#accordion {
	h3 {
		margin-bottom: 0;
		font-size: $font-size-lg;
		background: $gray;
		padding: $padding-md;
		border: 1px black solid;
			
		&:hover {
			cursor: pointer;
			background: lighten($gray, 10%);
		}
	}
	
	.card {
		border-radius: 0;
		padding: $padding-md;
		
		p:last-of-type {
			margin-bottom: 0;
		}
	}
}